<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand' href='#'>Recipe Database</a>
  <div class='collapse navbar-collapse' id='navbarNav'>
    <ul class='navbar-nav'>
      <li class='nav-item'>
        <a class='nav-link' href='/'>Home</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/recipes'>Recipes</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/add-recipe'>Add Recipe</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/add-to-pantry'>Add to Pantry</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/pantry'>Pantry</a>
      </li>
    </ul>
  </div>
</nav>